aiofiles==0.6.0
appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
distlib==0.3.1
Django==3.1.2
djangorestframework==3.12.1
djangorestframework-simplejwt==4.4.0
filelock==3.0.12
Flask==1.1.2
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jose==1.0.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector-python==8.0.20
numpy==1.19.4
opencv-python==4.4.0.46
pandas==1.1.4
PyJWT==1.7.1
pylint==2.4.4
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.1
requests==2.24.0
six==1.14.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
urllib3==1.25.9
views==0.3
virtualenv==20.0.34
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
wikipedia==1.4.0
wrapt==1.11.2
