*{
	font-family: Arial, Helvetica, sans-serif;
}

	html, body, div,  h2, p {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
	}

	body {
		line-height: 1;
	}


/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

	
/* Type */

	html {
		font-size: 13pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			html {
				font-size: 12pt;
			}

		}

	body {
		background-color:  #DDD4CB;
		color: rgba(0, 0, 0, 0.5);
	}

	body {
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	p {
		margin: 0 0 2rem 0;
	}

	

	 h2 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		font-size: 1.75rem;
	}

	 h2 {
		color: #1e1f23;
	}

/* Box */

	.box {
		margin-bottom: 2rem;
		background: rgba(255, 255, 255, 0.95);
		border-radius: 4px;
	}

		.box .image.fit {
			margin: 0;
			border-radius: 0;
		}

			.box .image.fit img {
				border-radius: 0;
			}

		.box header {
			margin: 0 0 2rem 0;
		}

			.box header h2 {
				margin-bottom: 1rem;
				position: relative;
				padding-bottom: 1rem;
				font-weight: 700;
			}

				.box header h2:after {
					content: '';
					position: absolute;
					margin: auto;
					right: 0;
					bottom: 0;
					left: 0;
					width: 10%;
					height: 1px;
					background-color: rgba(0, 0, 0, 0.125);
				}

			.box header p {
				text-transform: uppercase;
				font-size: .75rem;
				font-weight: 300;
				margin: 1rem 0;
				padding: 0;
				letter-spacing: .25rem;
			}

		.box .content {
			padding: 3rem;
		}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		@media screen and (max-width: 736px) {

			.box .content {
				padding: 2rem;
			}

		}

	.box {
		border-color: rgba(144, 144, 144, 0.25);
	}


/* Image */

	.image {
		display: inline-block;
		position: relative;
	}

		.image.flush {
			margin: 0 !important;
		}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 50%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1rem 1rem 0;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 1rem 1rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}


	header p {
		position: relative;
		margin: 0 0 1.5rem 0;
	}

	header h2 + p {
		font-size: 1.25rem;
		margin-top: -1rem;
	}

	header p {
		color: #bbb;
	}


/* Header */

	body {
		background-color: #1e1f23;
		padding-top: 8rem;
	}


		body:after {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			transition: opacity 1.5s ease-in-out, visibility 1.5s;
			content: '';
			background:  #DDD4CB;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: fixed;
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			visibility: visible;
			opacity: 1;
		}

			@media screen and (max-width: 980px) {

				body:after {
					background-attachment: scroll;
					background-position: top;
					background-size: 100%;
				}

			}

	#header {
		color: #a6a6a6;
		cursor: default;
		position: relative;
		text-align: center;
		z-index: 10001;
	}

		#header > .logo {
			margin: 0 0 4rem 0;
			padding: 0;
		}

			#header > .logo a {
				font-size: 4rem;
				font-weight: 700;
				color: rgb(255, 255, 255);
				text-decoration: none;
				line-height: 1rem;
			}
	@media screen and (max-width: 1280px) {

		body {
			padding-top: 6rem;
			background-attachment: scroll;
			background-size: auto;
			background-position: top;
		}

	}

	@media screen and (max-width: 736px) {

		#header > .logo {
			margin: 0 0 2rem 0;
		}

			#header > .logo a {
				font-size: 3rem;
			}

	}

	/*button*/
	.btn{
		margin-top: 1rem;
	}
	.btn-secondary{
		background: #DDD4CB !important;
		border-color: #FFF !important;
	}

/* Main */

	#main > .inner {
		margin: 0 auto;
		width: 80rem;
		max-width: 90%;
		margin-bottom: 2rem;
		background: rgba(255, 255, 255, 0.95);
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		border-radius: 4px;
	}

	@media screen and (max-width: 980px) {

		#main .image {
			width: 100%;
			min-width: 100%;
			float: none;
			margin: 0 0 2rem 0;
		}

			#main .image img {
				width: 100%;
			}

	}

	.wrapper > header {
		text-align: center;
		background: #FFF;
		padding: 2rem;
		margin: 0;
	}

		.wrapper > header h2 {
			position: relative;
			padding-bottom: .75rem;
		}

			.wrapper > header h2:after {
				content: '';
				position: absolute;
				margin: auto;
				right: 0;
				bottom: 0;
				left: 0;
				width: 10%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.125);
			}

		.wrapper > header p {
			text-transform: uppercase;
			font-weight: 300;
			font-size: .8rem;
			letter-spacing: .25rem;
			margin: 0;
		}

		.wrapper > header.special {
			padding: 4rem 2rem;
		}

			@media screen and (max-width: 980px) {

				.wrapper > header.special {
					padding: 3rem 2rem;
				}

			}

		@media screen and (max-width: 736px) {

			.wrapper > header {
				padding: 1.5rem;
			}

				.wrapper > header h2 {
					font-size: 1.5rem;
				}

					.wrapper > header h2:after {
						width: 50%;
					}

		}

	.wrapper.style1 .content {
		padding: 6rem;
	}

		@media screen and (max-width: 1280px) {

			.wrapper.style1 .content {
				padding: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper.style1 .content {
				padding: 2rem;
			}

		}

	

