<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<!-- Just an image -->
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        Buy Me A Coffee
    </a>
  </nav>
  <div class="container">
      <div class="row shadow mt-5 p-4">
          <div class="col-lg-6">
              <img src="https://en.wikipedia.org/wiki/Coffee#/media/File:A_small_cup_of_coffee.JPG" class="image-fluid">
          </div>
          <div class="col-lg-6 mt-4">
              <h3>Donate A Cup Of Coffee</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, ipsum, harum laudantium corporis molestiae aspernatur enim accusantium velit deserunt magnam optio accusamus facere eligendi delectus ipsa animi saepe sunt magni.</p>
              <form method="post">
                  <input class="form-control mt-2" name="email" placeholder="email" type="text" required>
                  <input class="form-control mt-2" name="name" placeholder="name" type="text" required>
                  <input class="form-control mt-2" name="amount" placeholder="amount" type="text" required>
                  <button class="btn btn-success mt-3 btn-block"> Donate </button>


              </form>
          
            </div>
      </div>
  </div>
    
</body>
</html>