<!DOCTYPE HTML>
<html>
	<head>
		<title>Thank You</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cinedarbaar.s3.ap-south-1.amazonaws.com/user-story/css/main.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body>
	<style type="text/css">
		.image{
			background: url(https://cinedarbaar.s3.ap-south-1.amazonaws.com/user-story/banner-top.png);
		    background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;
		}
		#rzp-button1{
			margin-bottom: 350px;
		}
	</style>
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Cinedarbar</a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush ">
							<br> <br> <br> <br> 
							<header class="special text-center">
							<h2 style="text-align:center; margin-top: 3rem;">Thank You For Choosing Us</h2>
							<button onclick="window.location.href = 'http://cdarbar.s3-website.ap-south-1.amazonaws.com/home';" type="button" class="btn btn-secondary btn-lg" style="padding: .5rem 3rem; margin-top: 3rem;" id="rzp-button1">Click here to visit</button> -->
						<!--	<button onclick="window.location.href = 'http://cdarbar.s3-website.ap-south-1.amazonaws.com/home';" class="btn btn-primary btn-lg justify-content-center">Click here to visit Homepage</button> 
								
							<!-- <img src="https://cinedarbaar.s3.ap-south-1.amazonaws.com/user-story/banner-top.png" alt="" /> -->
						</header> 
							
							
						</div>
						
						<div class="content">
							<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel. Vestibulum et efficitur urna. Duis velit nulla, interdum sed felis sit amet, facilisis auctor nunc. Cras luctus urna at risus feugiat scelerisque nec sed diam. </p>
							<p>Nunc fringilla metus odio, at rutrum augue tristique vel. Nulla ac tellus a neque ullamcorper porta a vitae ipsum. Morbi est sapien, hendrerit quis mi in, aliquam bibendum orci. Vestibulum imperdiet nibh vitae maximus posuere. Aenean sit amet nibh feugiat, condimentum tellus eu, malesuada nunc. Mauris ac pulvinar turpis, sit amet pharetra est. Ut bibendum justo condimentum, vehicula ex vel, venenatis libero. Etiam vehicula urna sed justo bibendum, ac lacinia nunc pulvinar. Integer nec velit orci. Vestibulum pellentesque varius dapibus. Morbi ullamcorper augue est, sed luctus orci fermentum dictum. Nunc tincidunt, nisl consequat convallis viverra, metus nisl ultricies dui, vitae dapibus ligula urna sit amet nibh. Duis ut venenatis enim.</p>
						</div>
					</section>

			

	
	</body>
</html>

<!-- <div class="container text-center p-3">
  <button onclick="window.location.href = 'http://cdarbar.s3-website.ap-south-1.amazonaws.com/home';" class="btn btn-primary btn-lg justify-content-center">Click here to visit Homepage</button>
  
  </div>
  -->